﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @**
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache" />
    *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 user-scalable=no minimum-scale=1.0 maximum-scale=1.0" />

    <title>@ViewBag.Title</title>
    <link href="~/Content/Main/assets/skin/default_skin/css/theme.css" rel="stylesheet" />
    <link href="~/Content/Admin/fonts/glyphicons-pro.css" rel="stylesheet" />
    <link href="~/Content/load5.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/Content/SPAStyle.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/bootstrap.css")*@
    @*@Styles.Render("~/Content/bubbles.css?v=4234244242")*@
    @*Styles.Render("~/Content/jquery-ui.css")*@


    @*<script src="https://hammerjs.github.io/dist/hammer.js"></script>*@

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js?v=19"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <script src="~/Scripts/respond.js"></script>
    @* <script src="~/Scripts/jquery.comiseo.daterangepicker.js"></script>*@
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/link42wrapper.js?v=16"></script>
    <script src="~/Scripts/bootstrap-treeview.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <!-- <script src="~/Scripts/util.js"></script> -->

    <script src="~/Scripts/jquery.touchSwipe.min.js"></script>

    <script src="~/scripts/jquery.inputmask.bundle.min.js"></script>


    <script src="~/scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>


    <link href="~/Content/fileinput/fileinput.min.css" rel="stylesheet" />
    <script src="~/Content/fileinput/fileinput.min.js"></script>
    <script src="~/Content/fileinput/ru.js"></script>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/SauriViews/ClientApps/8c886832-a62e-4436-a465-dc5b5f116d55/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/SauriViews/ClientApps/8c886832-a62e-4436-a465-dc5b5f116d55/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/SauriViews/ClientApps/8c886832-a62e-4436-a465-dc5b5f116d55/bootstrap-datepicker/ru.js"></script>
    <link href="~/Content/alertify/alertify.css" rel="stylesheet" />
    <script src="~/Content/alertify/alertify.min.js"></script>
    <style>
        .ui-loading .ui-loader {
            display: block;
        }

        .ui-loader {
            display: none;
            position: absolute;
            opacity: .85;
            z-index: 100;
            left: 50%;
            width: 200px;
            margin-left: -130px;
            margin-top: -35px;
            padding: 10px 30px;
        }
        /*Стили для бокового меню*/
        .side .nav > li {
            padding: 15px 0px 15px 10px;
            /*//padding-top:15px !important;*/
            border-bottom: 1px solid #f0f4f7;
        }

            .side .nav > li.active {
                color: #5b9bd1;
                background-color: #f6f9fb;
                border-left: 2px solid #5b9bd1;
                margin-right: -2px;
            }

                .side .nav > li.active a {
                    margin-right: 2px !important;
                }

                    .side .nav > li.active a span {
                        color: #5b9bd1 !important;
                    }

            .side .nav > li span:first-child {
                font-size: 1em !important;
                padding-right: 5px;
            }

        .media.move-right {
            float: right;
        }

        .aside-open {
            display: block !important;
        }

        body {
            background: white;
            overflow-y: unset !important;
        }


        /*Стили для крутилки*/
        .loader {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            text-indent: -9999em;
            -webkit-animation: load5 1.1s infinite ease;
            animation: load5 1.1s infinite ease;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
        }
    </style>

    @*<script src="~/Scripts2/mobile.js"></script>*@

    @RenderSection("mobileScripts", false/*required*/)
</head>



<body>
    @{
        Html.RenderPartial("Navbar", false);
    }
    <div class='loader' style="display:none;"></div>
    <div class="row chat-tab" style="margin-top:60px; position: fixed; left: 0; right: 0; z-index: 1030;">
        <button class="btn fs15 pull-right col-xs-6 btn-default" onclick="goTo('/AccountUserRequestMVC/ChatHistory?AccountUserId={AccountUserId}&HistoryResponsesCount=15')" data-link="ChatHistory">Чат с бухгалтером</button>
        <button class="btn fs15 pull-right col-xs-6 btn-default" onclick="goTo('/AccountUserRequestMVC/ExecuteRequest?UserRequest=&AccountUserId={AccountUserId}&HistoryResponsesCount=5')" data-link="ExecuteRequest">Чат с Sauri</button>
    </div>
    <div class="container scroll-y" style="position: absolute;top: 98px;height: calc(100% - 100px); width: inherit;">
        <div class="tab-content br-n pn">

            <div id="nav-tab2" class="chat-widget" role="tabpanel" style="position:absolute; width:100%; left: 0px;">
                @RenderBody()
            </div>
        </div>
    </div>

    <script>
            function load_circle(status) {
                if (status) {
                    $(".loader").css("display", "block");
                }
                else {
                    $(".loader").css("display", "none");
                }
            }

            $(document).ready(function () {
                if ($('.container').find('.media').length == 0)
                { ExecuteRequest('Привет'); }
                $('.container').scrollTop($("#nav-tab2").height()); // скролл к посл сообщению в чатах
            })

            function GoBack() {
                window.history.back();
            }

            function ShowHint(msg, type) {
                $.notify({
                    // options
                    //    icon: 'glyphicon glyphicon-warning-sign',
                    //  title: 'Состояние:',
                    message: msg,
                    url: '#',
                    target: '_blank'
                }, {
                    // settings
                    element: 'body',
                    position: null,
                    type: type, //info , warning , danger "success"
                    allow_dismiss: true,
                    newest_on_top: true,
                    showProgressbar: false,
                    placement: {
                        from: "bottom", // top , bottom
                        align: "center"  // left, center, right
                    },
                    offset: { y: 60 },
                    spacing: 10, // рфстояние между сообщениями
                    z_index: 1031,
                    delay: 2500,
                    timer: 1000,
                    mouse_over: null,
                    animate: {
                        enter: 'animated fadeInDown',
                        exit: 'animated fadeOutUp'
                    }
                });
            }
            //Подсвечиваем активный пункт чата
            $(function () {
                var current_href = $(location).attr('href');

                $(".chat-tab>button").each(function () {

                    var link = $(this).data(link);
                    if (current_href.indexOf(link.link) != (-1)) {
                        $(this).addClass("active");
                        //$(".nav_bott .nav_bottom_wrap>a").each(function () {
                        //    var link = $(this).data(link);
                        //    if (link.link == "ExecuteRequest") {
                        //        $(this).addClass("active");
                        //    } else {
                        //        $(this).removeClass("active");
                        //    }

                        //})
                        if (link.link == "ExecuteRequest" || link.link == "ChatHistory") {
                            $(".nav_bott").css("display", "none");
                        }
                       } else {
                        $(this).removeClass("active");
                    }
                })
            })

            //$("#swipe-area").swipe({
            //    swipeStatus: function (event, phase, direction, distance, duration, fingers) {
            //        if (phase == "move" && direction == "right") {
            //            $(".nav_top_backLink").click();
            //            return false;
            //        }
            //    }
            //});
    </script>

</body>
</html>