﻿@model bool
@{
    Layout = null;
}

<header class="navbar navbar-fixed-top nav_top">
    <div class="nav_top_wrap">
        <div class="nav_top_left">
            @if (Model)
            {
                <div onclick="GoBack()" class="nav_top_backLink"><img src="/Content/img_other/back.svg" class="nav_top_backLink_icon"></div>
            }
            else
            {
                <div onclick="goTo('/WorkingsForms/MainMenu?AccountUserId={AccountUserId}')" class="nav_top_backLink"><img src="/Content/img_other/back.svg" class="nav_top_backLink_icon"></div>
            }
        </div>
        <div class="nav_top_center" id="title">
        </div>
        <div class="nav_top_right">

        </div>
    </div>
</header>
@{
    if (Model)
    {
        <div class="nav_bott">
            <div class="nav_bottom_wrap flex">
                <a href="#" class="nav_bottom_button nav_bott_icon-1" onclick="goTo('/AccountUserRequestMVC/ExecuteRequest?UserRequest=&AccountUserId={AccountUserId}&HistoryResponsesCount=5')" data-link="ExecuteRequest">
                    <div class="nav_bottom_icon"></div>
                    <div class="nav_bottom_text">Чаты</div>
                </a>
                <a href="#" class="nav_bottom_button nav_bott_icon-2" onclick="goTo('/WorkingsForms/SPA?model={\'SpecName\':\'InvoiceListForm\', \'UserId\':\'{AccountUserId}\'}')" data-link="InvoiceListForm">
                    <div class="nav_bottom_icon"></div>
                    <div class="nav_bottom_text">Счета</div>
                </a>
                <a href="#" class="nav_bottom_button nav_bott_icon-3" onclick="goTo('/WorkingsForms/SPA?model={\'SpecName\':\'KontragentList\', \'UserId\':\'{AccountUserId}\'}')" data-link="KontragentList">
                    <div class="nav_bottom_icon"></div>
                    <div class="nav_bottom_text">Клиенты</div>
                </a>
                <a href="#" class="nav_bottom_button nav_bott_icon-4" onclick="goTo('/WorkingsForms/SPA?model={\'SpecName\':\'ReportList\', \'UserId\':\'{AccountUserId}\'}')" data-link="ReportList">
                    <div class="nav_bottom_icon"></div>
                    <div class="nav_bottom_text">Показатели</div>
                </a>
            </div>
        </div>
    }
}
@*<div id="swipe-area"></div>*@
<script>
    function goTo(href) {
        document.location.href = href.replace("{AccountUserId}", UserInfo.AccountUserId)
    }
</script>

<script>
    $(".nav_bott_icon-1").on("click", function () {
        yaCounter46810902.reachGoal('Chat'); return true;
    })
    $(".nav_bott_icon-2").on("click", function () {
        yaCounter46810902.reachGoal('InvoicesList'); return true;
    })
    $(".nav_bott_icon-3").on("click", function () {
        yaCounter46810902.reachGoal('ContragentList'); return true;
    })
    $(".nav_bott_icon-4").on("click", function () {
        yaCounter46810902.reachGoal('ReportList'); return true;
    })

    var opened = false;
    function LogOut() {
        goTo('logout');
    }
    //Подсвечиваем активный пункт меню
    $(function () {

        var current_href = $(location).attr('href');
        if (typeof MainModel !== "undefined") {
            InitExitIcon(MainModel.SorceData.SpecName)
        }
        //if (typeof MainModel !== "undefined") {
        //    if (MainModel.SorceData.SpecName == "MainMenu") {
        //        $(".navbar-right").css('display', 'none');
        //        $("#title").html("Sauri");
        //        $(".nav_top_left").html("<div onclick='LogOut()'  class='nav_top_backLink'><img src='/Content/img_other/exit.svg'></div>");
        //    } else {
        //        $(".nav_top_left").html(" <div onclick='GoBack()' class='nav_top_backLink'><img src='/Content/img_other/back.svg' class='nav_top_backLink_icon'></div>");
        //    }
        //}
        $(".nav_bott .nav_bottom_wrap>a").each(function () {
            var link = $(this).data(link);
            if (current_href.indexOf(link.link) != (-1)) {
                $(this).addClass("active");
            }
        else {
                $(this).removeClass("active");
            }

        })


        $("body").on("click", "div.mainDiv.lrpad", function () {
            if (opened) {
                $(".dropdown-menu").hide();
                opened = false
                $(".nav_top_right_img").css("opacity", "1")
            }
        })
    })
</script>