﻿@using Newtonsoft.Json;
@{
    Layout = null;//"~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WebSocketChatServer.ViewModel.MessageModel>
<div>
    @foreach (var item in Model)
    {

        if (item.AuthorStatus.Equals(true))
        {
            <div class="media col-xs-12">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src=" ">
                    </a>
                </div>
                <div class="media-body boulbe message small">
                    <span class="media-status online"></span>
                    <h5 class="media-heading">
                        Бухгалтер -
                        <small>@item.Date</small>
                    </h5>
                    <div>@item.MessageText</div>
                </div>
            </div>
        }
        else
        {
            <div class="media move-right col-xs-12">
                <div class="media-body">
                    <span class="media-status offline"></span>
                    <h5 class="media-heading">
                        Я - 
                        <small>@item.Date</small>
                    </h5>
                    <div class="bubble incoming">
                        @item.MessageText
                    </div>
                </div>
            </div>
        }
    }
</div>