﻿@model Object
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }

        .msg {
            position: absolute;
            top: 0;
            bottom: 30px;
            border: 1px solid green;
            margin-bottom: auto;
            display: block;
            overflow: scroll;
            width: 100%;
            white-space: nowrap;
        }
    </style>

    <script>
        $(function () {
            var userName = "griwa";

            var protocol = location.protocol === "https:" ? "wss:" : "ws:";
            var wsUri = protocol + "//chat-sauri.io/chat?id=" + "@Model.ToString()";
            //"ws://localhost:4154/chat?id="
            var socket = new WebSocket(wsUri);
            socket.onopen = e => {
                console.log("socket opened", e);
            };
            socket.onclose = function (e) {

                console.log("socket closed", e);
            };

            socket.onmessage = function (e) {
                console.log(e);
                $('#msgs').append(e.data + '<br />');
            };

            socket.onerror = function (e) {
                console.error(e.data);
            };

            $('#MessageField').keypress(function (e) {
                if (e.which != 13) {
                    return;
                }

                e.preventDefault();

                //var message = userName + ": " + $('#MessageField').val();

                var msg = {
                    messagetype: "message",
                    status: "new",
                    isaccounter: true,
                    accountername:"John Malkovich",
                    userid:"78CE9F49-8DD3-479C-B095-120BFBE2F6E9",
                    messagetext: $('#MessageField').val()
                };

                socket.send(JSON.stringify(msg));
                $('#MessageField').val('');
            });
        });
    </script>
</head>
<div class="msg">
    <div style="position: absolute; bottom: 0;" id="msgs"></div>
</div>

<div style="position: absolute; height: 20px; bottom: 10px; left: 0; display: block; width: 100%">
    <input type="text" style="max-width: unset; width: 100%; max-width: 100%" id="MessageField" placeholder="type message and press enter" />
</div>

</html>
